---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicemonitor.yml
  - service.yml
  - deployment.yml

configMapGenerator:
  - name: hetzner-exporter
    literals: []

secretGenerator:
  - name: hetzner-exporter
    literals: []

images:
  - name: hetzner-exporter
    newName: quay.io/promhippie/hetzner-exporter
    newTag: latest@sha256:a3ab681476276ebd6fe526493f9e34312dfbb833ab28236de908b0223169d2c6

...
