---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicemonitor.yml
  - service.yml
  - deployment.yml

configMapGenerator:
  - name: hetzner-exporter
    literals: []

secretGenerator:
  - name: hetzner-exporter
    literals: []

images:
  - name: hetzner-exporter
    newName: quay.io/promhippie/hetzner-exporter
    newTag: latest@sha256:cd71c12a06420ff014a2fbdbf3c4211a121ce6e42d517b3aca573579d8c5a23e

...
